<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		ga('create', 'code here', 'auto');
		ga('send', 'pageview');
	</script>

    <title>Wizzard - Creative Ajax Portfolio Showcase Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Download the best Creative Portfolio HTML Template in 2018" />
    <meta name="author" content="ClaPat Studio">
    <meta charset="UTF-8" />    
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Poppins:500,600" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">      
    
</head>
    




<body class="hidden">

	<main>
    
    <div class="preloader-wrap">
    	<div class="outer">
        	<div class="inner">
      			<div class="percentage" id="precent"></div>
                <div class="preloader-text">We are a Photography and creative agency <span>Slimo Photography</span></div>      
      		</div>
      	</div>
    </div>
    
	<div class="cd-index cd-main-content">
	
	<!-- Page Content -->
	<div id="page-content" class="" data-bgcolor="#eee">
        
        <!-- Background Lines -->
        <div class="bg-lines hidden">    
            <svg>
    			<line x1="20%" y1="100%" x2="80%" y2="0"/>
				<line x1="80%" y1="100%" x2="20%" y2="0"/>
    		</svg>  
        </div>
        <!--/Background Lines -->
        
        
    
        <!-- Header -->
        <header class="scroll-hid">
            <div id="header-container">
        
            <!-- Logo -->
            <div id="logo">
                <a class="ajax-link" data-type="page-transition" href="/">
                    <img class="black-logo" src="images/logo.png" alt="ClaPat Logo">
                    <img class="white-logo" src="images/logo-white.png" alt="ClaPat Logo">
                </a>
            </div>
            <!--/Logo -->            
            
            <!-- Menu Burger -->
            <div id="burger-wrapper">
            	<div id="burger-circle"></div>
                <div id="menu-burger">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!--/Menu Burger -->
        
            </div>
        </header>
        <!--/Header -->
        
        
        <!-- Menu Overlay -->
        <div id="menu-overlay">
            
            <div id="close-menu"></div>  
            
            <div class="outer">
                <div class="inner">
                    
                    <nav>                    
                        <ul class="main-menu">
                            <li class="mp"><a class="ajax-link menu-link" data-type="page-transition" href="/"><span></span>Home</a></li>
                            <!-- <li class="mp has-sub active"><a href="/portfolio"><span></span>Portfolio</a>
                                <ul>
                                    <li><a class="ajax-link" data-type="page-transition" href="/portfolio">Visible Text</a></li>
                                    <li><a class="ajax-link" data-type="page-transition" href="/portfolio2">Black Overlay</a></li>
                                </ul>
                            </li> -->
                            <li class="mp"><a class="ajax-link menu-link" data-type="page-transition" href="/about"><span></span>About</a></li>
                            <li class="mp"><a class="ajax-link menu-link" data-type="page-transition" href="/contact"><span></span>Contact</a></li>
                        </ul>                
                    </nav>
                    
                    
                </div>
            </div>
        
        </div>
        <!-- Menu Overlay -->
        

