<%- include('./partials/Header.ejs'); %>



        <!-- Showcase Holder -->
        <div id="showcase-holder"> 
            <div id="showcase-slider"> 
            
            
                <!-- Section Slide -->
                <div class="section light-content">
                    
                    <div class="img-mask">
                        <a class="ajax-link-project" data-type="page-transition" href="#">
                            <div class="img-perspective">
                                <div class="img-split">
                                    <div class="section-image" data-src="/images/works/14.jpeg"></div>
                                    <div class="section-image-mirror"></div>                        
                                </div>
                            </div>
                         </a>
                    </div>
                                               
                    <div class="section-shadow"></div>
                    
                    <div class="section-caption-outer">
                        <div class="section-caption-inner">
                            <h2 class="section-title sa-one">Adeshina Maruf</h2>
                            <p class="section-subtitle sa-two">Expert Photographer</p>
                        </div>
                    </div>
                    
                </div>
                <!--/Section Slide -->					
                
                
                <!-- Section Slide -->
                <div class="section light-content">
                    
                    <div class="img-mask">
                        <a class="ajax-link-project" data-type="page-transition" href="/female-models">
                            <div class="img-perspective">
                                <div class="img-split">
                                    <div class="section-image" data-src="/images/works/3.jpeg"></div>
                                    <div class="section-image-mirror"></div>                        
                                </div>
                            </div>
                         </a>
                    </div>
                    
                    <div class="section-shadow"></div>
                    
                    <div class="section-caption-outer">
                        <div class="section-caption-inner">
                            <h2 class="section-title sa-one">Female Models</h2>
                            <p class="section-subtitle sa-two">Click Me!!</p>
                        </div>
                    </div>
                    
                </div>
                <!--/Section Slide -->	
                
                
                <!-- Section Slide -->
                <div class="section light-content">
                    
                   <div class="img-mask">
                        <a class="ajax-link-project" data-type="page-transition" href="/male-models">
                            <div class="img-perspective">
                                <div class="img-split">
                                    <div class="section-image" data-src="/images/works/2e.jpeg"></div>
                                    <div class="section-image-mirror"></div>                        
                                </div>
                            </div>
                         </a>
                    </div>
                    
                    <div class="section-shadow"></div>
                    
                    <div class="section-caption-outer">
                        <div class="section-caption-inner">
                            <h2 class="section-title sa-one">Male Models</h2>
                            <p class="section-subtitle sa-two">Click Me!!</p>
                        </div>
                    </div>
                    
                </div>
                <!--/Section Slide -->					
                
                
                <!-- Section Slide -->
                <div class="section light-content">
                    
                    <div class="img-mask">
                        <a class="ajax-link-project" data-type="page-transition" href="/nature">
                            <div class="img-perspective">
                                <div class="img-split">
                                    <div class="section-image" data-src="https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=840&q=80"></div>
                                    <div class="section-image-mirror"></div>                        
                                </div>
                            </div>
                         </a>
                    </div>
                    
                    <div class="section-shadow"></div>
                    
                    <div class="section-caption-outer">
                        <div class="section-caption-inner">
                            <h2 class="section-title sa-one">Nature Photography</h2>
                            <p class="section-subtitle sa-two">Click Me!!</p>
                        </div>
                    </div>
                    
                </div>
                <!--/Section Slide -->
                
                
                <!-- Section Slide -->
                <div class="section light-content">
                    
                    <div class="img-mask">
                        <a class="ajax-link-project" data-type="page-transition" href="/wildlife">
                            <div class="img-perspective">
                                <div class="img-split">
                                    <div class="section-image" data-src="https://images.unsplash.com/photo-1512988442538-a42600ac4634?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=747&q=80"></div>
                                    <div class="section-image-mirror"></div>                        
                                </div>
                            </div>
                         </a>
                    </div>
                    
                    <div class="section-shadow"></div>
                    
                    <div class="section-caption-outer">
                        <div class="section-caption-inner">
                            <h2 class="section-title sa-one">WildLife Photography</h2>
                            <p class="section-subtitle sa-two">Click Me!! <Menu></Menu></p>
                        </div>
                    </div>
                    
                </div>
                <!--/Section Slide -->
                
                
                <!-- Section Slide -->
                <div class="section text-align-center last-slide">
                    
                    <p class="smaller sa-one">Are you ready for more?</p>
                    <h2 class="sa-two">View My entire <br class="destroy">Portfolio projects collection</h2>
                    
                    <hr>
                    
                    <div class="sa-three">
                        <a href="/male-models" class="clapat-button rounded outline ajax-link" data-type="page-transition" ><span>See More</span></a>
                    </div>    
                    
                </div>
                <!--/Section Slide -->	                   
                    
                                
            </div>
        </div>    
        <!-- Showcase Holder -->
        
        


<%- include('./partials/Footer.ejs'); %>


