

<%- include('../partials/Header.ejs'); %>



        
        
        
        
        <!-- Project Share -->
        <div class="page-action-overlay">
            <div class="outer">
                <div class="inner">                	
                    <div class="close-page-action"></div>
                    <p class="page-action-text">Share this Project:</p>
                    <div id="share" class="page-action-content"></div>                    
                </div>
            </div>
        </div>
        <!--/Project Share -->
        
        
        <!-- Main -->
        <div id="main">
        
        	
            <!-- Hero Section -->
            <div id="hero" class="has-image">
                <div id="hero-styles" class="opacity-onscroll parallax-onscroll">
                    <div id="hero-caption">
                        <div class="inner">
                            <h1 class="hero-title">Guest House</h1>
                            <p class="hero-subtitle">Photography</p>                        
                        </div>
                    </div>
                    <div class="scroll-down-wrap no-border">
                        <a href="#" class="section-down-arrow ">
							<svg class="nectar-scroll-icon" viewBox="0 0 30 45" enable-background="new 0 0 30 45">
								<path class="nectar-scroll-icon-path" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M15,1.118c12.352,0,13.967,12.88,13.967,12.88v18.76  c0,0-1.514,11.204-13.967,11.204S0.931,32.966,0.931,32.966V14.05C0.931,14.05,2.648,1.118,15,1.118z">
								</path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div id="hero-bg-wrapper">
				<div id="hero-bg-image" class="light-content" style="background-image:url(https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=840&q=80)"></div>
            </div> 
            <div id="hero-height" class="hidden"></div>                
            
            
            <!--/Hero Section -->
            
            
            <!-- Main Content -->
            <div id="main-content">
            	<div id="main-page-content">               
                
                    <!-- Row -->
                <div class="vc_row small row_padding_top row_padding_bottom">
                    
                    <div class="container">
                        
                        <h4 class="title-has-line has-animation" data-delay="10">Overview</h4>                        
                        
                        <p class="has-animation" data-delay="40">Location: Moscow, Function: apartment, Status: realization 2018, Project team: YoDezeen</p>              
                        
                    </div>
                    
                </div>
                <!--/Row -->
                
                <!-- Row -->
                <div class="vc_row full text-align-center has-animation" data-delay="10">
                    
                    <div class="container">
                        
                        <img src="https://images.pexels.com/photos/1295138/pexels-photo-1295138.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
                        
                    </div>
                    
                </div>
                <!--/Row -->
                
               <!-- Row -->
                <div class="vc_row row_padding_top row_padding_bottom">
                    
                    <div class="container">
                                                
                        <div class="one_half">
                           
                        </div>
                        
                        <div class="one_half last">
                        
                        <h4 class="title-has-line has-animation" data-delay="10">Ambiental Design</h4>
                        
                        <p class="has-animation" data-delay="30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet mauris mi. Pellentesque sagittis vitae felis vel consequat. Donec a pharetra felis. Suspendisse et elementum exnec aliquet.</p>
                        
                      	<a href="https://www.behance.net/gallery/60175941/APARTMENT-IN-MOSCOW" target="_blank" class="link has-animation" data-delay="50" data-type="page-transition" ><span>Read More</span></a>
                        
                        </div>
                                    
                        
                    </div>
                    
                </div>
                <!--/Row -->
                
                <!-- Row -->
                <div class="vc_row text-align-center">
                    
                    <div class="container">                        
                      
                        <img class="has-animation" data-delay="10" src="https://images.pexels.com/photos/2618804/pexels-photo-2618804.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                        
                        <hr>
                        
                        <img class="has-animation" data-delay="10" src="https://images.pexels.com/photos/33688/delicate-arch-night-stars-landscape.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                        
                        <hr>
                        
                        <img class="has-animation" data-delay="10" src="https://images.pexels.com/photos/4063092/pexels-photo-4063092.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                        
                        <hr>
                        
                        <img class="has-animation" data-delay="10" src="https://images.pexels.com/photos/2519392/pexels-photo-2519392.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
                        
                    </div>
                    
                </div>
                <!--/Row -->                    
            
                </div>
                <!--/Main Page Content --> 
                
                <!-- Project Navigation --> 
                <div id="project-nav" class="section light-content">
                
                	<div class="next-project-info">Next Project</div> 
                
                    <div class="img-mask">
                        <a class="ajax-link-project" data-type="page-transition" href="#">
                            <div class="img-perspective">
                            	<div class="img-split">
                                	<div class="section-image" data-src="images/08hero.jpg"></div>
                                </div>
                            </div>
                         </a>
                    </div>
                    
                    <div class="section-shadow"></div>
                            
                    <div class="section-caption-outer">
                        <div class="section-caption-inner">
                            <h2 class="section-title">Coming Soon</h2>
                            <p class="section-subtitle">.........</p>
                        </div>
                    </div>
                    
                </div>      
                <!--/Project Navigation -->
                
                            
            </div>
            <!--/Main Content --> 
        </div>
        <!--/Main --> 
        
        
        
        <%- include('../partials/Footer.ejs'); %>


