

<%- include('../partials/Header.ejs'); %>



        
        

        
        
        
        <!-- Project Share -->
        <div class="page-action-overlay">
            <div class="outer">
                <div class="inner">                	
                    <div class="close-page-action"></div>
                    <p class="page-action-text">Share this Project:</p>
                    <div id="share" class="page-action-content"></div>                    
                </div>
            </div>
        </div>
        <!--/Project Share -->
        
        
        <!-- Main -->
        <div id="main">
        
        	
            <!-- Hero Section -->
            <div id="hero" class="has-image">
                <div id="hero-styles" class="opacity-onscroll parallax-onscroll">
                    <div id="hero-caption">
                        <div class="inner">
                            <h1 class="hero-title">Nature</h1>
                            <p class="hero-subtitle">Photography</p>                        
                        </div>
                    </div>
                    <div class="scroll-down-wrap no-border">
                        <a href="#" class="section-down-arrow ">
							<svg class="nectar-scroll-icon" viewBox="0 0 30 45" enable-background="new 0 0 30 45">
								<path class="nectar-scroll-icon-path" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M15,1.118c12.352,0,13.967,12.88,13.967,12.88v18.76  c0,0-1.514,11.204-13.967,11.204S0.931,32.966,0.931,32.966V14.05C0.931,14.05,2.648,1.118,15,1.118z">
								</path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div id="hero-bg-wrapper">
				<div id="hero-bg-image" class="light-content" style="background-image:url(https://images.unsplash.com/photo-1512988442538-a42600ac4634?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=747&q=80)"></div>
            </div> 
            <div id="hero-height" class="hidden"></div>                
            
            
            <!--/Hero Section -->
            
            
            <!-- Main Content -->
            <div id="main-content">
            	<div id="main-page-content">               
                
                    <!-- Row -->
                <div class="vc_row small row_padding_top row_padding_bottom">
                    
                    <div class="container">
                        
                        <h4 class="title-has-line has-animation" data-delay="10">It's all about sport</h4>                        
                        
                        <p class="has-animation" data-delay="40">This well established Property Agent in Paris blew their competition out of the water with this beautifully designed property portfolio site. Obsessive attention to detail and a mobile first approach resulted in a site with a sophisticated light-box feature that adapts seamlessly to phone, tablet and desktop.</p>
                                    
                        
                    </div>
                    
                </div>
                <!--/Row -->
                
                <!-- Row -->
                <div class="vc_row full row_padding_top row_padding_bottom has-animation" style="background-color:#d4d4d4" data-delay="10">
                    
                    <div class="container">
                        
                        <div class="carousel">
                            <div class="slide"><a href="https://images.unsplash.com/photo-1500479694472-551d1fb6258d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="image-link"><img src="https://images.unsplash.com/photo-1500479694472-551d1fb6258d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Image Title"></a></div>
                            <div class="slide"><a href="https://images.unsplash.com/photo-1517825738774-7de9363ef735?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=698&q=80" class="image-link"><img src="https://images.unsplash.com/photo-1517825738774-7de9363ef735?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=698&q=80" alt="Image Title"></a></div>
                            <div class="slide"><a href="https://images.unsplash.com/photo-1437622368342-7a3d73a34c8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" class="image-link"><img src="https://images.unsplash.com/photo-1437622368342-7a3d73a34c8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="Image Title"></a></div>
                            <div class="slide"><a href="https://images.unsplash.com/photo-1523402593399-0eb3b1eabba7?ixlib=rb-1.2.1&auto=format&fit=crop&w=781&q=80" class="image-link"><img src="https://images.unsplash.com/photo-1523402593399-0eb3b1eabba7?ixlib=rb-1.2.1&auto=format&fit=crop&w=781&q=80" alt="Image Title"></a></div>      
                        </div>
                        
                    </div>
                    
                </div>
                <!--/Row -->
                
                
                <!-- Row -->
                <div class="vc_row row_padding_top ">
                    
                    <div class="container">
                                                
                        <div class="one_half">
                           
                        </div>
                        
                        <div class="one_half last">
                        
                        <h4 class="title-has-line has-animation" data-delay="10">Great Performance</h4>
                        
                        <p class="has-animation" data-delay="30">Obsessive attention to detail and a mobile first approach resulted in a site with a sophisticated light-box feature that adapts seamlessly to phone, tablet and desktop.</p>
                        
                        <a href="https://www.behance.net/gallery/54404327/NIKE-BLACK-Play" target="_blank" class="link has-animation" data-delay="50" data-type="page-transition" ><span>Read More</span></a>
                        
                        </div>
                                    
                        
                    </div>
                    
                </div>
                <!--/Row -->
                
                
                <!-- Row -->
                <div class="vc_row full row_padding_top">
                    
                    <div class="container">
                    
                    	<div class="one_half">
                        	<a href="https://images.unsplash.com/photo-1551716540-6f28724f6b21?ixlib=rb-1.2.1&auto=format&fit=crop&w=747&q=80" class="image-link"><img class="has-animation" data-delay="40" src="https://images.unsplash.com/photo-1551716540-6f28724f6b21?ixlib=rb-1.2.1&auto=format&fit=crop&w=747&q=80" alt="Image Title"></a>
                        </div>
                        
                        <div class="one_half last">
                        	<a href="https://images.unsplash.com/photo-1506354259095-f4e94f2716b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMjU4fQ&auto=format&fit=crop&w=750&q=80" class="image-link"><img class="has-animation" data-delay="40" src="https://images.unsplash.com/photo-1506354259095-f4e94f2716b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMjU4fQ&auto=format&fit=crop&w=750&q=80" alt="Image Title"></a>
                        </div>
                        
                    </div>
                    
                </div>
                <!--/Row -->                   
            
                </div>
                <!--/Main Page Content --> 
                
                <!-- Project Navigation --> 
                <div id="project-nav" class="section light-content">
                
                	<div class="next-project-info">Next Project</div> 
                	
                    <div class="img-mask">
                        <a class="ajax-link-project" data-type="page-transition" href="#">
                            <div class="img-perspective">
                            	<div class="img-split">
                                	<div class="section-image" data-src="images/01hero.jpg"></div>
                                </div>
                            </div>
                         </a>
                    </div>
                    
                    <div class="section-shadow"></div>
                            
                    <div class="section-caption-outer">
                        <div class="section-caption-inner">
                            <h2 class="section-title">Coming Soon</h2>
                            <p class="section-subtitle">Photography</p>
                        </div>
                    </div>
                    
                </div>      
                <!--/Project Navigation -->
                
                            
            </div>
            <!--/Main Content --> 
        </div>
        <!--/Main --> 



<%- include('../partials/Footer.ejs'); %>


